{% extends "base.html" %} {% block title %} Stock List {% endblock %} {% block head
%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<style>
  /*Overrides for Tailwind CSS */

  /*Form fields*/
  .dataTables_wrapper select,
  .dataTables_wrapper .dataTables_filter input {
    color: #4a5568;
    /*text-gray-700*/
    padding-left: 1rem;
    /*pl-4*/
    padding-right: 1rem;
    /*pl-4*/
    padding-top: .25rem;
    /*pl-2*/
    padding-bottom: .25rem;
    /*pl-2*/
    line-height: 1.25;
    /*leading-tight*/
    border-width: 2px;
    /*border-2*/
    border-radius: .25rem;
    border-color: #edf2f7;
    /*border-gray-200*/
    background-color: #edf2f7;
    /*bg-gray-200*/
  }

  /*Row Hover*/
  table.dataTable.hover tbody tr:hover,
  table.dataTable.display tbody tr:hover {
    background-color: #ebf4ff;
    /*bg-indigo-100*/
  }

  /*Pagination Buttons*/
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    font-weight: 700;
    /*font-bold*/
    border-radius: .25rem;
    /*rounded*/
    border: 1px solid transparent;
    /*border border-transparent*/
  }

  /*Pagination Buttons - Current selected */
  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
    /*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    /*shadow*/
    font-weight: 700;
    /*font-bold*/
    border-radius: .25rem;
    /*rounded*/
    background: #667eea !important;
    /*bg-indigo-500*/
    border: 1px solid transparent;
    /*border border-transparent*/
  }

  /*Pagination Buttons - Hover */
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff !important;
    /*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    /*shadow*/
    font-weight: 700;
    /*font-bold*/
    border-radius: .25rem;
    /*rounded*/
    background: #667eea !important;
    /*bg-indigo-500*/
    border: 1px solid transparent;
    /*border border-transparent*/
  }

  /*Add padding to bottom border */
  table.dataTable.no-footer {
    border-bottom: 1px solid #e2e8f0;
    /*border-b-1 border-gray-300*/
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  /*Change colour of responsive icon*/
  table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
  table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    background-color: #667eea !important;
    /*bg-indigo-500*/
  }
</style>
{% endblock %} {% block content %}
<div class="w-full h-screen p-5 overflow-y-auto bg-gray-100">
  <div class="p-8 bg-white rounded shadow lg:mt-0">
    <form action="/stock-list" method="POST" class="flex items-center mb-4 space-x-2">
      <p class="text-lg font-medium">Last update: {{last_update}}</p>
      <button type="submit" class="px-4 py-2 text-base font-semibold text-center text-white transition duration-200 ease-in bg-indigo-600 rounded-lg shadow-md hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 ">
        Refresh Data
      </button>
    </form>
    <table id="table" class="stripe hover">
      <thead>
        <tr>
        {% for k in stock_table[0] %}
        {% if k != "_id" %}
          <th class="p-4 font-normal text-gray-900 border-b-2 dark:border-dark-5 whitespace-nowrap">
            {{k}}
          </th>
          {% endif %}
        {% endfor %}
      </tr>
  
      </thead>
      <tbody>
        {% for row in stock_table %}
        <tr class="text-gray-700">
          {% for k,v in row.items() %}
            {% if k == "Board Lot" %}
            <td class="p-4 text-right border-b-2 dark:border-dark-5">{{v}}</td>
            {% elif k != "_id" %}
            <td class="p-4 border-b-2 dark:border-dark-5">{{v}}</td>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  $(document).ready( function () {
    $('#table').DataTable({
      iDisplayLength: 25
    });
} );
</script>
{% endblock %}
